<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Reply</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <p><a href="/">Back</a></p>
    <h1>Add Reply</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Post ID</th>
                <th>Post Text</th>
                <th>Topic ID</th>
                <th>Topic Name</th>
                <th>Poster ID</th>
                <th>Poster Name</th>
                <th>Replies</th>
            </tr>
        </thead>
        <tbody>
            <% for (let post of availableReply) { %>
                <tr>
                    <td><%= post.post_id %></td>
                    <td><%= post.post_text %></td>
                    <td><%= post.topic_id %></td>
                    <td><%= post.topic_name %></td>
                    <td><%= post.poster_id %></td>
                    <td><%= post.poster_name %></td>
                    <td><%= post.replies %></td>
                </tr>
            </tbody>
            <% } %>
        </table>

    <form method="POST" action="/addreply">
        <p>
            <label for="username">User Name:</label>
            <input id="username" type="text" name="username" required>
        </p>
        <p>
            <label for="topicname">Topic Name:</label>
            <input id="topicname" type="text" name="topicname" required>
        </p>
        <p>
            <label for="post_id">Post ID:</label>
            <input id="postid" type="number" name="postid" required>
        </p>
        <p>
            <label for="reply_text">Reply Text:</label>
            <textarea id="replytext" name="replytext" rows="4" cols="50" required></textarea>
        </p>
        <p>
            <input type="submit" value="Add Reply">
        </p>
    </form>
</body>
</html>


